section {
    width: 100%;
    position: absolute;
}
#div1{
    display: flex;
    width: 250px;
    aspect-ratio: 1/4;
    background-color: purple;
    padding: 20px;
}
h5{
    color: white;
    top: 30px;
    font-size: 20px;
    left: 20px;
    position: relative;
}
h2{
    display: inline;

}
#picture{
    border: solid black;
    position: relative;
}
#div2{
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;
    font-size: 20px;
    word-spacing: 10px;
}
#div3{
    position: absolute;
    right: 10px;
    top: 120px;
}
p{
    position: absolute;

}
footer{
    text-align: center;
    width: 100vw;
    height: 20px;
    background: grey;
    color: white;
    position: absolute;
    padding: 25px;
}